.app-body {
  display: flex;
  justify-content: space-between;
}

.panel-parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: horizontal;
  margin-top: $m-size;
}